<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
     
    <!--RUTA POR DEFAULT-->
    <add key="strDefaultConfig" value="proConexionSistema"/>
    <add key="strDefaultServer" value="desServer" />
    <add key="strDefaultBase" value="desBase" />
    <add key="strDefaultUid" value="desUid" />
    <add key="strDefaultPassword" value="desPassword" />
    <add key="strRutaXampp" value="desRutaXampp"/>
    <add key="strRutaRecibos" value="desRutaRecibos"/>
    <add key="strRutaNuevosUsuarios" value="desRutaNuevosUsuarios"/>
    <add key="strRutaHistorial" value="desRutaHistorial"/>
    <add key="strRutaExtras" value="desRutaExtras"/>
    
    <!--RUTAS PARA DESARROLLO-->
     <add key="desConexionSistema" value="Data Source=MAC\SQLEXPRESS; Integrated Security=SSPI; Initial Catalog=SistemaAgua; Integrated Security=True" />
     <add key="desServer" value="MAC\SQLEXPRESS" />
     <add key="desBase" value="SistemaAgua" />
     <add key="desUid" value="" />
     <add key="desPassword" value="" />
     <add key="desRutaXampp" value="C:\xampp\xampp-control.exe"/>
     <add key="desRutaRecibos" value="C:\Backup\Recibos\"/>
     <add key="desRutaNuevosUsuarios" value="C:\Backup\NuevosUsuarios\"/>
     <add key="desRutaHistorial" value="C:\Backup\Historial\"/>
     <add key="desRutaExtras" value="C:\Backup\Extras\"/>
    
    
    <!--RUTAS PARA PRODUCTIVO-->
    <add key="proConexionSistema" value="Data Source=COROZCO\SQLEXPRESS; Integrated Security=SSPI; Initial Catalog=SistemaAgua; Integrated Security=True" />
    <add key="proServer" value="COROZCO\SQLEXPRESS" />
    <add key="proBase" value="SistemaAgua" />
    <add key="proUid" value="" />
    <add key="proPassword" value="" />
    <add key="proRutaXampp" value="C:\xampp\xampp-control.exe"/>
    <add key="proRutaRecibos" value="C:\Backup\Recibos\"/>
    <add key="proRutaNuevosUsuarios" value="C:\Backup\NuevosUsuarios\"/>
    <add key="proRutaHistorial" value="C:\Backup\Historial\"/>
    <add key="proRutaExtras" value="C:\Backup\Extras\"/>
    <add key="desConexion" value="Data Source=Mac;Initial Catalog=SistemaAgua;Integrated Security=True"/>
  
  </appSettings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
