<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
     
    <!--RUTA POR DEFAULT-->
    <add key="strConexion" value="desConexion"/>
    <add key="strRutaXampp" value="desRutaXampp"/>
    <add key="strRutaRecibos" value="desRutaRecibos"/>
    <add key="strRutaNuevosUsuarios" value="desRutaNuevosUsuarios"/>
    <add key="strRutaHistorial" value="desRutaHistorial"/>
    <add key="strRutaExtras" value="desRutaExtras"/>
    
    <!--RUTAS PARA DESARROLLO-->
     <add key="desRutaXampp" value="C:\xampp\xampp-control.exe"/>
     <add key="desRutaRecibos" value="C:\Backup\Recibos\"/>
     <add key="desRutaNuevosUsuarios" value="C:\Backup\NuevosUsuarios\"/>
     <add key="desRutaHistorial" value="C:\Backup\Historial\"/>
     <add key="desRutaExtras" value="C:\Backup\Extras\"/>
    
    
    <!--RUTAS PARA PRODUCTIVO-->
    <add key="proRutaXampp" value="C:\xampp\xampp-control.exe"/>
    <add key="proRutaRecibos" value="C:\Backup\Recibos\"/>
    <add key="proRutaNuevosUsuarios" value="C:\Backup\NuevosUsuarios\"/>
    <add key="proRutaHistorial" value="C:\Backup\Historial\"/>
    <add key="proRutaExtras" value="C:\Backup\Extras\"/>
  
  
    
  </appSettings>
  <connectionStrings>
    
    <!--RUTAS PARA DESARROLLO-->
     <add name="desConexion" connectionString="Provider=sqloledb; Data Source=Nombre_del_Servidor; Initial Catalog=Nombre_de_la_base; User Id=USUARIO;Password=PASSWORD" providerName="System.Data.SqlClient" />
  
   <!--RUTAS PARA PRODUCTIVO-->
     <add name="proConexion" connectionString="Provider=sqloledb; Data Source=Nombre_del_Servidor; Initial Catalog=Nombre_de_la_base; User Id=USUARIO;Password=PASSWORD" providerName="System.Data.SqlClient" />
       
    </connectionStrings>
     
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
